body
  font-family: "Pt Serif", serif
  background-color: var(--color-fondo)
  color: var(--color-texto)
  margin: 0

// Claro
.tema-automatico
  --color-fondo: #ffffff
  --color-texto: #151515
  --color-fondo-transparente: rgba(255, 255, 255, 0.8)
  --color-borde: gray
  --color-texto-carta-roja: #b71c1c
  --color-fondo-carta-roja: #ffffff
  --color-fondo-dragon-rojo: #ffffff
  --color-fondo-dragon-verde: #ffffff
  --color-fondo-dragon-azul: #ffffff
  --color-fondo-reyes: #ffffff
  --color-texto-reyes: #2E7D32

  --color-mesa-1: #E3F2FD
  --color-mesa-2: #90CAF9


@media (prefers-color-scheme: dark)
  .tema-automatico
    --color-fondo: #151515
    --color-texto: #dedede
    --color-fondo-transparente: rgba(21, 21, 21, 0.85)
    --color-borde: #c1c1c1
    --color-texto-carta-roja: #dedede
    --color-fondo-carta-roja: #b71c1c
    --color-fondo-dragon-rojo: #b71c1c
    --color-fondo-dragon-verde: #2E7D32
    --color-fondo-dragon-azul: #1565C0
    --color-fondo-reyes: #2E7D32
    --color-texto-reyes: #ffffff

    --color-mesa-1: #004D40
    --color-mesa-2: #003027
